<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net472" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="75.0.3770.90" targetFramework="net472" />
  <package id="Selenium.WebDriver.Equip" version="0.3.141.172" targetFramework="net472" />
</packages>